section#header{
  border: 10px solid black;
  text-align: center;

margin: 10px;
}

h4{
  font-size: 70px;
  font-family: proxima nova, sans-serif;
}

nav#navigation{
  border: 10px solid black;
  text-align: center;
  padding: 20px;
  margin: 10px;

}
img#rbg{
  float: right;
  max-width: 35%;
  border: 9px solid black;
  margin-right: 8px;
  margin-left: 2px;
}
img#thumbnail{
  max-width: 20%;
  border:3px solid black;

}
p5{
  font-size: 12px;
  font-family: proximanova, sans-serif;
  padding:5px;
  text-align: left;
}
.first {
border: 10px solid black;
padding: 10px;
margin: 10px;
width: 60%;
}

h1{

}

p1{


}

.second {
padding:10px;
border: 10px solid black;
margin: 10px;
width: 60%;

}

h2{

}

p2{


}

.third {
    border: 10px solid black;
padding: 10px;
margin: 10px;
width: 60%;
}

h3{

}

p3{


}

aside#links{
  border: 10px solid black;
width: 61%;
margin: 10px;
text-align: left;


}

ul{
list-style: none;
}

ul#helpful{
  list-style: none;
  letter-spacing: normal;
}

li{
font-size: 25px;
letter-spacing: 5px;
}

footer#footer{

    border: 10px solid black;
    position:absolute;
margin: 10px;
    width: 60.5%;
    text-align: center;
}

p4{
font-size: 12pt;
font-family: proxima nova, sans-serif;
padding: 2px;
letter-spacing: 5px;

}
