

div#content{
  background-color: #e0cbc8;

}


div#topright{
position: absolute;
top: 100px;
left:700px;
z-index: 2;


}

div#middletext{
z-index: 2;
position: absolute;
top: -70px;
left: 200px;

}

div#and{

  z-index: 3;
  position: absolute;
  top: 65px;
  left: 320px;
}

div#picture{

z-index: 2,
}

div#verticalleft{


}

div#bottomtext{
  position: fixed;
  left: 140px;
  top: 350px;
z-index: 2

}

div#date{
  position: fixed;
      top: 350px;
      left: 201px;
}
p1{

 }
h1{
font-family: ProximaNova Th, sans-serif;
font-size: 9.5pt;
color: white;
letter-spacing: 3.5px;
text-decoration: underline;
z-index: 2;
}


h2{
  color: white;
      font-family: ProximaNova Th, sans-serif;
      font-size: 60pt;
}
h6{
  color: white;
  font-family: ProximaNova Th, sans-serif;
  font-size: 60pt;
  position: absolute;
  top: -35px;
}


h3{
writing-mode: vertical-rl;
position: fixed;
top: 100px;
bottom: 100px;
left: 0px;
right: auto;
z-index: 2;
font-family: ProximaNova th, sans-serif;
color: white;
font-size: 10pt;



}

h4{
font-family: ProximaNova Th, sans-serif;
font-size: 22pt;
color: white;
z-index: 2;
}
 h5{
   font-size: 38pt;
   font-family: ProximaNova Th, sans-serif;
   color: #061634;
   position: fixed;
 }

img{
display: block;
margin-left: 150px;
margin-right: 210px;
z-index: 1;
height: 90%;
width: auto;

}

p1{
  font-family: ProximaNova Th, sans-serif;
    font-size: 25pt;
    color: #061634;
    text-decoration: solid;

}
