

div#content{
  background-color: #e0cbc8

}


div#topright{
position: absolute;


}

div#middletext{



}

div#and{


}

div#picture{


}

div#verticalleft{


}

div#bottomtext{



}


h1{
font-family: Proxima Nova Th, sans-serif;

}


h2{



}


h3{
  vertical-align:



}

h4{


}


img{
  position: center absolute;




}

p1{

}
