body.template{
  margin:35px;
  background-color: #ffff66;

}
div#content{
  margin: 35px
  padding: 20px
}
div#challenge {
  background-color: #FFB6C1;
  padding: 10px;
}
div#problems{
  background-color:  #FFB6C1;
  padding: 10px;
}

div#results{
  background-color:  #FFB6C1;
  padding: 10px;
}
aside{
  float: right;
  margin: 1%;
  width: 10%;
}
ul{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow:hidden;
}
li{
  float: right;

}

li a{
  display:block;
  padding:5px;
  background-color: #FFB6C1;

}
nav.links{
  background-color: inherit;
}





h1 {
  font-size: 36pt;
  color: White;
  font-family: "Arial Black", sans-serif;
  text-transform: uppercase;
  letter-spacing:2px;
  text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}
/* CODE FOR TEXT SHADOW WAS REFERENCED FROM https://markdotto.com/playground/3d-text//*/
h2 {
  font-size: 36pt;
  color: White;
  font-family: "Arial Black", sans-serif;
  text-transform: uppercase;
  letter-spacing:2px;
  text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}
h3 {
  font-size: 36pt;
  color: White;
  font-family: "Arial Black", sans-serif;
  text-transform: uppercase;
  letter-spacing:2px;
  text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}
p1{
  color:white;
  font-family: arial, sans-serif;
  font-size: 16pt;
}

p2{
  color:white;
  font-family: arial, sans-serif;
  font-size: 16pt;
}
p3{
  color:white;
  font-family: arial, sans-serif;
  font-size: 16pt;
}
