div#content{
  background-color: white

}

div#andre{

}

div#work{

}

ul{
list-style: none;

}

li{
  display:inline;
  font-family: Helvetica;
  font-size: 16pt;
  color: black;



}

div#twenty{

}

div#maintext{


}

div#picture{


}

img{


}

h1{


}


h2{



}

h3{


}
