section#header{
  border: 10px solid green;
  text-align: center;
  background-color: black;

margin: 10px;
}
html{
  background-image: linear-gradient(grey,green, yellow);
}

h4{
  font-size: 50px;
  font-family: proxima nova, sans-serif;
  text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
                 margin: 10px;
                 letter-spacing: 15px;
                 color: white;
}

nav#navigation{
  border: 10px solid black;
  text-align: center;
  padding: 20px;
  margin: 10px;
background-color: white;
}
img#sketch1{
  float: right;
  max-width: 30%;
  border: 5px solid green;
  margin-right: 8px;
  margin-left: 2px;
}
img#sketch2{
  max-width: 20%;
  border:5px solid green;

}
img#sketch3{
  float: right;
  max-width: 20%;
  border: 5px solid green;
  margin-right: 8px;
  margin-left: 2px;
}
p5{
  font-size: 12px;
  font-family: proxima nova, sans-serif;
  padding:5px;
  text-align: left;
}
.first {
border: 10px solid black;
padding: 10px;
margin: 10px;
width: 60%;
background-color: white;
}

.fourth {
border: 10px solid black;
padding: 10px;
margin: 10px;
width: 60%;
background-color: white;
}

h1{
font-family: proxima nova, sans-serif;
text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

p1{
font-family: proxima nova, sans-serif;

}

.second {
padding:10px;
border: 10px solid black;
margin: 10px;
width: 60%;
background-color: white;

}

h2{
font-family: proxima nova, sans-serif;
text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

p2{
font-family: proxima nova, sans-serif;

}

.third {
    border: 10px solid black;
padding: 10px;
margin: 10px;
width: 60%;
background-color: white;
}

h3{
font-family: proxima nova, sans-serif;
text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

p3,p4{

font-family: proxima nova, sans-serif;
}

aside#links{
  border: 10px solid black;
width: 61%;
margin: 10px;
text-align: left;
background-color: white;


}

ul{
list-style: none;
}

ul#helpful{
  list-style: none;
  letter-spacing: normal;
}

li{
font-size: 25px;
letter-spacing: 5px;
font-family: proxima nova, sans-serif;
}

footer#footer{

    border: 5px solid black;
    position:absolute;
margin: 10px;
    width: 60.5%;
    text-align: center;
    background-color: white;
}

p4,{
font-size: 17pt;
font-family: proxima nova, sans-serif;
padding: 2px;
letter-spacing: 5px;
text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

}
