body {
  margin:25px;
  background-color:#FFFF99;
  border: 10px  solid black;
  font-size: 16pt;
}


div#challenge {
  background-color:#ADD8E6;
  border: 1px black;
  padding: 25px;
}

div#problems{
  background-color: #ADD8E6;
  border: 1PX BLACK;
  Padding: 25px;
}
div#results{
background-color: #ADD8E6;
border: 1PX BLACK;
Padding: 25px;
}

h1, h2, h3 {
  font-size: 20pt
  font-family: "Courier New", monospace;
}

img{
  float: right;`
  width: 377.5px;
  height: auto;
}

p1, p2, p3 .mainttext{
  font-size: 14pt;
  color: white;
}
